@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
  }
  
  body {
    font-family: Roboto, "Open Sans", sans-serif;
    margin: 0;
  }

.dark-mode {
  background-color: #333333;
  color: white;
}

.dark-mode > nav {
  background-color: #333333;
  color: white;
  border-bottom: 2px solid white;
}

.dark-mode > nav a {
  color: white;
}

section {
  margin: 0 16px;
}

section.full-screen {
  margin: 0;
}

nav {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: 2px solid #222222;
  z-index: 99999;
}

.carousel-container {
    width: 600px; /* Adjust width as needed */
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-slide {
    display: flex;
    width: 600px; /* Width of individual slide */
    animation: slide 15s infinite alternate; /* Adjust timing as needed */
  }
  
  .carousel-slide img {
    width: 100%; /* Ensure images fill the slide */
  }
  
  @keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; } 
    25% { margin-left: -600px; } /* Slide 1 image out of view */
    45% { margin-left: -600px; }
    50% { margin-left: -1200px; } /* Slide 2 image out of view */
    70% { margin-left: -1200px; }
    75% { margin-left: -1800px; } /* Slide 3 image out of view */
    95% { margin-left: -1800px; }
    100% { margin-left: 0; } /* Back to the beginning */
  }
  
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(55, 26, 167);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

nav a {
  color: #222222;
  text-decoration: none;
}

nav > #dark-mode-switch {
  display: flex;
  margin-left: auto;
  margin-right: 16px;
}

nav > #dark-mode-switch > p {
  margin-right: 8px;
}

nav > ul > li {
  display: inline-block;
}

nav > span > img {
  height: 32px;
  width: auto;
  padding: 8px;
}

nav > span {
  display: flex;
  align-items: center;
}

header {
  text-align: center;
  color: white;
  background-color: #3c9409;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
  background-image: url("https://private-user-images.githubusercontent.com/157816177/307640166-86946b55-3894-4563-95d5-06840c0b060d.jpg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MDg5MTE5NjMsIm5iZiI6MTcwODkxMTY2MywicGF0aCI6Ii8xNTc4MTYxNzcvMzA3NjQwMTY2LTg2OTQ2YjU1LTM4OTQtNDU2My05NWQ1LTA2ODQwYzBiMDYwZC5qcGc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwMjI2JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDIyNlQwMTQxMDNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1lNDZmMDdjZTU0YWEwZGFiMDRhMjA4ZWI2M2NmMzliYWM2ZTUzNWI4MTIyZDZkYTQyODdkMjAxZTM5Y2RiZThiJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.sJvbd8yEPP_5-_i5eoIxzsHzdnf7WAVhS4qkm40U27w");
  background-position: top center;
  background-size: cover;
}

nav .circle-red {
  font-size: 8px;
  background-color: red;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: -8px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.relative-container {
  position: relative;
}

header h1 {
  font-weight: bold;
  margin: 16px;
  animation-duration: 3s;
  animation-name: slidein;
  text-shadow: 2px 2px #222222;
}

header p {
  margin: 0;
  text-shadow: 2px 2px #222222;
}

img {
  width: 100%;
}

h2 {
  font-weight: 700;
  text-align: center;
}

#section-video .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#paud-facts .flex-container figure {
  text-align: center;
}

#paud-photos .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-auto-rows: 240px 240px 240px;
}

#paud-photos .grid-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container #item-1 {
  grid-column: 1 / 2 span;
  grid-row: 1;
}

fieldset {
  margin: 16px 0;
  border-radius: 4px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  display: block;
}

input[type="date"] {
  margin: 8px 0;
  display: block;
}

#form-section {
  background-color: #333333;
  color: white;
  padding: 8px;
  margin-top: 16px;
}

#form-section form {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

button[type="submit"] {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.paud-photo-item {
  filter: grayscale(100%);
  cursor: pointer;
}

.paud-photo-item:hover {
  filter: none;
  transition-property: filter;
  transition-duration: 1s;
}

/* for tablet and desktop */
@media only screen and (min-width: 768px) {
  #paud-facts > .flex-container {
    display: flex;
    align-items: center;
  }

  #paud-facts > .flex-container figure {
    margin-left: auto;
  }

  #paud-facts > .flex-container figure img {
    height: 400px;
  }

  #paud-facts > .flex-container figcaption {
    text-align: center;
    margin-top: 16px;
  }

  #paud-facts > .flex-container.row-reverse {
    flex-direction: row-reverse;
  }

  #paud-facts > .flex-container.row-reverse p {
    margin-left: 32px;
  }

  #paud-facts > .flex-container.row-reverse figure {
    margin-left: 40px;
    min-width: 320px;
  }

  iframe {
    max-width: 480px;
  }

  #paud-photos .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-auto-rows: 320px 320px;
  }

  #paud-photos .grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-container #item-1 {
    grid-column: 1;
    grid-row: 1 / 2 span;
  }

  .grid-container #item-2 {
    grid-row: 1;
    grid-column: 2 / 3 span;
  }
}
